/* Row Controls
---------------------------------------------------------- */
.vc_control.section_add .vc_icon {
  background-position: -16px -16px;
}
.vc_control.section_delete .vc_icon {
  background-position: -16px -64px;
}
.vc_control.section_clone .vc_icon {
  background-position: -16px -48px;
}
.vc_control.section_edit .vc_icon {
  background-position: -16px -32px;
}
.vc_control.section_toggle .vc_icon {
  background-position: -16px -96px;
}
.vc_control.section_move {
  cursor: move;
  float: left;
}
.controls_row .section_add {
  float: left;
  margin-left: 1px;
}

.wp-picker-holder{
	z-index:22;
}

.wpb_monte_carousel_item .column_clone, .wpb_monte_carousel .column_clone{
	display:none !important;
}

.controls_column.bottom-controls .section_edit,
.controls_column.bottom-controls .section_delete,
.controls_column.bottom-controls .section_clone {
  display: none;
}
.wpb_vc_row > .controls > .section_move,
.wpb_vc_row_inner > .controls > .section_move {
  background-color: #f5f5f5;
}
.wpb_vc_row > .controls .section_delete:hover,
.wpb_vc_row_inner > .controls .section_delete:hover {
  background-color: #FFE0E0;
}

.vc_collapsed-row > .controls .section_toggle .vc_icon {
  background-position: -16px -112px;
}
.wpb_vc_row_inner > .controls > .section_move {
  background-color: #FFFFFF;
}