/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* Browser Resets */
.flex-container a:flex-active, .flexslider a:flex-active, .flex-container a:focus, .flexslider a:focus {outline: none;}
.slides, .flex-control-nav, .flex-direction-nav {float: none; margin: 0; padding: 0; list-style: none; position:relative;}

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {border: none !important; position: relative; -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; -o-border-radius: 0 !important; border-radius: 0 !important; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative; margin-bottom: 0;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption {width: 96%; padding: 2%; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.3); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px;}

/* Direction Nav */
.flex-direction-nav li a {width: 30px; height: 30px; text-align: center; line-height:30px; display: block; position: absolute; top: auto; bottom: 0px; cursor: pointer; z-index: 4; }
.flex-direction-nav li .flex-next {right: 0px;}
.flex-direction-nav li .flex-prev {left: 0px; }
.flex-direction-nav li .flex-next i{color: #333; font-size: 10px;}
.flex-direction-nav li .flex-prev i{color: #333; font-size: 10px;}
.flex-direction-nav li .flex-disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}



/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: auto; top: 10px; text-align: right; z-index:500; padding-right: 25px; left: -25px;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 11px; height: 11px; display: block; cursor: pointer; border-radius: 50%; background: #969696; font-size: 0;}
.flex-control-nav li a:hover {background-position: 0 -13px; background: #ffffff;}
.flex-control-nav li a.flex-active {background-position: 0 -26px; cursor: default; }

