/* THEME.CSS */
/* Template Name: Spinner */
/* Version: 1.0 */
/* Author: Monte Themes */
/* Website: http://www.monte-themes.com */
/* Copyright: (C) 2015 */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------*/
/* TABLE OF CONTENTS: */
/*--------------------------------------------------------*/

	/* 01 - RESET.CSS */
	/* 02 - SLIDER */
	/* 03 - PRELOADER */
	/* 04 - COMMON ELEMENTS */
	/* 05 - TYPOGRAPHY */
	/* 06 - SPACING */
	/* 07 - NAVIGATION */
	/* 08 - SHORTCODES */
		/* 08.1 - COUNTERS */
		/* 08.2 - PROGRESS */
		/* 08.3 - PRICE TABLES */
		/* 08.4 - SERVICES */
		/* 08.5 - CALL TO ACTION */
		/* 08.6 - BUTTONS */
		/* 08.7 - LISTS */
		/* 08.8 - TABS */
	/* 09 - PORTFOLIO */
	/* 10 - BLOG */
	/* 11 - SIDEBAR */
	/* 11.1 - SEARCH */
	/* 11.2 - CATEGORIES  */
	/* 11.3 - LATEST NEWS  */
	/* 11.4 - TAG  */
	/* 12 - FOOTER */

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 01 - RESET.CSS */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

div{
	position:relative;
}
html, body {
	overflow-x: hidden !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 02 - SLIDER */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.tp-caption.spinner1 span{
	color: #dc143c;
	font-size: inherit;
}

.tp-caption.spinner2 span{
 	color: #dc143c;
 	font-size: inherit;
 }
.tp-caption.spinner5 a{
	color: #fff !important;
}

iframe {
	border: 0;
}

section {
	position: relative;
}

.section-separator {
	position: absolute;
	bottom: -30px;
	z-index: 2;
	width: 100%;
}

@media (max-width: 992px) {
	.sm-centered {
		text-align: center;
	}

	.xs-center {
		float: none;
		text-align: center;
	}
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 03 - PRELOADER */
/*-------------------------------------------------------------------------------------------------------------------------------*/

body {
	visibility: hidden;
}


#jpreOverlay, #qLoverlay {
	background-color: #000;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 11;
}
#jpreSlide {
	font-size: 22px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	width: 100%;
}
#jpreLoader, #qLloader {
	width: 300px;
	height: 70px;
	position: fixed;
	top: 45%;
	left: calc(50% - 150px);
	margin-left: 0px;
	margin-top: -300px;
}
#jpreBar, #qLbar {
	width: 448px;
	height: 0;
	position: absolute;
	bottom: 0;
	background: url('http://monte-themes.com/spinner/wp-content/themes/spinner/images/logo.png') 100px 100% no-repeat;
}
#jprePercentage, #qLpercentage {
	color: #fff;
	text-align: center;
	position: absolute;
	height: 30px;
	width: 100px;
	margin-top: 47px;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 04 - COMMON ELEMENTS */
/*-------------------------------------------------------------------------------------------------------------------------------*/

body{
	background: #fff;
}

.uppercase{
	text-transform: uppercase;
}

.block{
	display:block;
}
.navbar{
	margin-right: auto;
	margin-left: auto
}
.vc_separator .vc_sep_holder .vc_sep_line{
	top:0 !important;
}

.return-home a{
	font-family: "Montserrat", sans-serif;
	line-height: 125%;
	color: #222;
	font-weight: 500;
	font-size:50px;
	z-index:3;
}

.main-wrapper{
	background: #fff;
}
#main-wrapper{
	background: #fff;
	margin:0 auto;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px 4px
}

@media (min-width: 768px) {
	#main-wrapper {
		width: 750px
	}
}
@media (min-width: 992px) {
	#main-wrapper {
		width: 970px
	}
}
@media (min-width: 1200px) {
	#main-wrapper {
		width: 1170px
	}
}

@media (min-width: 768px) {
	#main-wrapper .navbar {
		width: 750px
	}
}
@media (min-width: 992px) {
	#main-wrapper .navbar {
		width: 970px
	}
}
@media (min-width: 1200px) {
	#main-wrapper .navbar {
		width: 1170px
	}
}


.quickinfo {
	font-size: 12px;
	color: #b1b1b1;
}

.quickinfo span {
	display: inline-block;
	padding-right: 30px;
}

.quickinfo span i {
	padding-right: 7px;
	font-size: 11px;
}

.social {
	text-align: right;
}

.socials{
	padding-right: 30px;
	display:inline-block;
}

.inner-content .wpcf7-submit{
	display:inline-block;
	width:auto;
	background: #222;
  	color: #fff;
  	font-weight: 400;
  	text-transform: uppercase;
  	font-family: "Montserrat";
 	margin: 5px;
 	height: 30px;
  padding: 0px;
 
  border: none;
  font-size: 10px;
  padding-right: 12px;
  padding-left: 12px;
  line-height: 30px;
    transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}
.inner-content .wpcf7-submit:hover{
	background: #f8f8f8;
	color: #222;
}

.social i {
	display: inline-block;
	padding-left: 20px;
	font-size: 13px;
}

.cart-search {
	text-align: right;
	font-size: 12px;
}
.cart-search i {
	font-size: 14px;
}
.cart-search span {
	color: #222;
	display: inline-block;
}
.cart-search span.bold {
	color: #979797;
	display: inline-block;
	font-weight: 600;
}

.cart-search .fa-search {
	display: inline-block;
	padding-left: 12px;
	font-weight: 500 !important;
	color: #222;
}

.cart-search .fa-shopping-cart {
	display: inline-block;
	padding-right: 12px;
	font-weight: 500 !important;
}

.dark-bg {
	color: #5f5f5f;
	font-weight: 400;
}

.white {
	color: #fff;
}


#breadcrumbs{
    list-style:none;
    margin-bottom: 10px;
    overflow:hidden;
}
  
#breadcrumbs li, #breadcrumbs li a{
    display:inline-block;
    vertical-align:middle;
    font-size: 22px;
    font-weight: bold;
    text-transform:lowercase;
  color: #a0a0a0;
  line-height:1;
}
.page-header.dark #breadcrumbs li, .page-header.dark #breadcrumbs li a{
	color: #ccc;	
}
#breadcrumbs li span{
	color: #222;
}

.page-header.dark #breadcrumbs li span{
	color: #999;
}
  
#breadcrumbs .separator{
  font-size: 12px;
  margin: 0 10px;
}


.page-header p, .page-header p a {
	font-size: 10px;
}

.page-header p a{
	color: #a0a0a0;
}



.page-header p span {
	font-size: 8px;
}

.page-header p span a {
	font-size: 10px;
	color: #222;
}

.page-header.dark p span a {
	font-size: 10px;
	color: #fff;
}

.page-header.dark p a, .page-header.dark p span {
	font-size: 10px;
	color: #ccc;
}

.page-header.dark p span a {
	font-size: 10px;
	color: #999;
}

.page-header h4 {
	padding-right: 60px;
	position:relative;
	font-size:70px;
	font-weight:bold;
	text-align:right;
}

.page-header h4:after {
  display: block;
  width: 3px;
  height: 60px;
  position: absolute;
  right: 10px;
  top: 20px;
  background: #fff;
  content: '';
}

.page-header h5{
	font-weight:bold;
	font-size:24px;
}
.page-header h4 span, .page-header h5 span{
	color: #dc143c;
}

.page-header h5{
	padding-top:5px;
}
.page-header.bg{
	background: #000;
}
.page-header.dark h4 {
	color: #fff;
}

.page-header.image {
	padding-top: 120px;
	padding-bottom: 120px;
}

.page-header.white {
	background: #fff;
}


@media (max-width: 991px) {
	.page-header h4:after{
		display:none;
	}
	
	.page-header h4{
		padding-right: 0;
		text-align:center;
	}
	.page-header{
		text-align:center;
	}
}





.wp-caption, .wp-caption-text,
.gallery-caption, .bypostauthor{
	font-weight: normal;
}

.wp-caption{
	max-width:100%;
}
.wp-caption{
	position:relative;
}
.wp-caption .wp-caption-text {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 20px;
  max-width: calc(100% - 60px);
  color: #fff !important;
  background: rgba(0, 0, 0, 0.80);
  padding: 12px;
  font-size: 14px !important;
  line-height: 16px !important;
  margin: 0;
 }

.alignright{
	text-align:right;
	float:right;
	padding-left:20px;
}
.alignleft{
	text-align:left;
	float:left;
	padding-right:20px;
}
.aligncenter{
	text-align:center;
}


.inner-content-min{
	min-height: 400px;
}

.inner-content p{
	padding-bottom:20px;
}


.page-heading-wrapper{
	text-align:center;
}
.page-heading{
	padding-bottom:80px;
	display:block;
	position:relative;
	text-align:center;
}


.page-heading .dash{
	position: absolute;
	display:block;
	width:50px;
	height: 2px;
	left: calc(50% - 25px);
	bottom: 40px;
	content: '';
	background: #000;
}




.text-readmore{
	font-size:12px;
}

.text-readmore i{
	padding-left:10px;
	color: #ababab;
}

.italic {
	font-style: italic;
}

.colored {
	display: inline-block;
	padding: 0 5px;
	color: #fff !important;
	background: #dc143c;
}

.text-dark-bg {
	display: inline-block;
	padding: 0 5px;
	background: #000;
	color: #fff !important;
}

.dropcap {
	float: left;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	padding-top: 4px;
	padding-right: 10px;
	padding-left: 3px;
	color: #dc143c; 
}

.highlight{
	color: #dc143c;
}

.dropcap-dark {
	float: left;
	color: #000;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	padding-top: 4px;
	padding-right: 10px;
	padding-left: 3px;
}


.dropcap-square {
	float: left;
	color: #fff;
	display: inline-block;
	font-size: 32px;
	line-height: 38px;
	font-weight: bold;
	width: 38px;
	text-align: center;
	height: 38px;
	margin-top: 4px;
	margin-bottom: 1px;
	margin-right: 10px;
	background: #dc143c;
}

.dropcap-dark-square {
	float: left;
	color: #fff;
	display: inline-block;
	background: #000;
	font-size: 32px;
	line-height: 38px;
	font-weight: bold;
	width: 38px;
	text-align: center;
	height: 38px;
	margin-top: 4px;
	margin-bottom: 1px;
	margin-right: 10px;
}

.dropcap-background {
	float: left;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	line-height: 38px;
	font-weight: bold;
	width: 38px;
	text-align: center;
	height: 38px;
	margin-top: 4px;
	margin-bottom: 1px;
	margin-right: 10px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #dc143c;
}

.dropcap-dark-background {
	float: left;
	color: #fff;
	display: inline-block;
	background: #000;
	font-size: 20px;
	line-height: 38px;
	font-weight: bold;
	width: 38px;
	text-align: center;
	height: 38px;
	margin-top: 4px;
	margin-bottom: 1px;
	margin-right: 10px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}


.blockquote-reverse, blockquote.pull-right{
	border-right: 5px solid #dc143c;
}
blockquote{
	border-left: 5px solid #dc143c;
}

blockquote {
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}


blockquote.quote-bg-color {
	background: #f8f8f8;
}

blockquote:hover {
	background: #f8f8f8;
}

blockquote.quote-bg-color:hover {
	background: transparent;;
}

.blockquote-dark {
	border-left: 5px solid #000;
}

.blockquote-reverse.dark, blockquote.pull-right.dark {
	border-right: 5px solid #000;
}

blockquote {
	padding: 10px 20px !important;
	margin: 0 0 20px !important;
	font-size: 16px !important;
}

blockquote footer, blockquote small, blockquote .small {
	display: block;
	font-size: 80%;
	line-height: 1.42857143;
	color: #aaa;
}




.tp-bgimg {
	background-position: 50% 50% !important;
}

.soundcloud {
	width: 100%;
}
.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.right {
	float: right;
	clear: both;
}
.left {
	float: left;
	clear: both;
}


img {
	max-width: 100%;
	height: auto;
}



table {
	border-collapse: collapse;
	border-spacing: 0;
}



.inner-content ul li{
	display: block;
	background: url(../images/bullet.png) no-repeat 2px 18px;

	padding-left: 30px;
}

.inner-content .item-list li{
	padding-top: 0;
	background: none;
	padding-left: 40px;
}

.inner-content .item-list.bullet-list li{
	background: url(../images/bullet.png) no-repeat 10px 8px;
	padding-left: 35px;
}
.inner-content ul, .inner-content ol{
	list-style-position: inside;
	margin-top: 10px;
	margin-bottom:25px;
}

.inner-content ul ul, .inner-content ol ol, .inner-content ul ul ul, .inner-content ol ol ol{
	margin:0px;
}

.inner-content ol {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}
.inner-content ol > li {
    position:relative; /* Create a positioning context */
    list-style:none; /* Disable the normal item numbering */
   margin-left:30px;
}
.inner-content ol > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    position:absolute;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    left:-30px;
    font-weight:900;
    color: #000;
    padding-top: 2px;
	font-size:12px;

}

.inner-content ul li{
	padding-top: 10px
}
.inner-content ol li{
	padding-top: 10px
}
.inner-content ul ul{
	padding-left: 15px;
}

.inner-content ul ul ul{
	padding-left: 15px;
}

.inner-content ol ol{
	padding-left: 15px;
}

.inner-content ol ol ol{
	padding-left: 15px;
}

.inner-content dt{
	font-weight: bold;
}

.inner-content dd{
	margin-left:10px;
}

.inner-content th, .inner-content td{
	padding:10px;
}


.bottom-overlap{
	position: absolute;
	bottom:-80px;
	left:-100px;
  width: 150%;
  height: 80px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  content: '';
  display: block;
  z-index: 21;
background: #000;
}


.top-overlap{
	position: absolute;
	bottom:top;
	left:-100px;
  width: 150%;
  height: 80px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  content: '';
  display: block;
  z-index: 21;
  background: #000;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 05 - TYPOGRAPHY */
/*-------------------------------------------------------------------------------------------------------------------------------*/

h1, h2 {
	font-family: "Montserrat", sans-serif;
	line-height: 125%;
	color: #000;
	font-weight: 600;
}

h3 {
	font-family: "Montserrat", sans-serif;
	line-height: 125%;
	color: #000;
	font-weight: 400;
}

h4, h5, h6{
	font-family: "Lato", sans-serif;
	line-height: 125%;
	color: #000;
	font-weight: 300;
}



h1.light, h2.light, h3.light {
	color: #fff;
}

h1 {
	font-size: 48px;
	
}

h2 {
	font-size: 32px;
	
}

h3 {
	font-size: 24px;

}

h4 {
	font-size: 22px;

}

h5 {
	font-size: 20px;

}

h6 {
	font-size: 18px;
}

b, strong {
	font-weight: 900;
}

body, p, a {
	font-family: "Lato", sans-serif;
	font-size: 15px;
	line-height: 150%;
	color: #000000;
}


a {
	text-decoration: none;
}

.thin {
	font-weight: 100 !important;
}

.thick {
	font-weight: 700 !important;
}

.white {
	color: #fff;
}

.dark-section {
	background: #222;
}

.light-section {
	background: #f8f8f8;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 06 - SPACING */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.margin-left-10 {
	margin-left: 10px !important;
}

.margin-left-20 {
	margin-left: 20px !important;
}

.margin-left-30 {
	margin-left: 30px !important;
}

.margin-left-50 {
	margin-left: 50px !important;
}

.margin-right-10 {
	margin-right: 10px !important;
}

.margin-right-20 {
	margin-right: 20px !important;
}

.margin-right-30 {
	margin-right: 30px !important;
}

.margin-right-50 {
	margin-right: 50px !important;
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-top-100 {
	margin-top: 100px;
}

.padding-10 {
	padding: 10px;
}

.padding-15 {
	padding: 15px;
}

.padding-20 {
	padding: 20px;
}

.padding-30 {
	padding: 30px;
}

.padding-50 {
	padding: 50px;
}

.padding-top-200 {
	padding-top: 200px;
}

.padding-top-180 {
	padding-top: 180px;
}

.padding-top-170 {
	padding-top: 170px;
}
.padding-top-150 {
	padding-top: 150px;
}

.padding-top-120 {
	padding-top: 120px;
}

.padding-top-100 {
	padding-top: 100px;
}

.padding-top-90 {
	padding-top: 90px;
}

.padding-top-80 {
	padding-top: 80px;
}

.padding-top-70 {
	padding-top: 70px;
}

.padding-top-60 {
	padding-top: 60px;
}

.padding-top-50 {
	padding-top: 50px;
}

.padding-top-40 {
	padding-top: 40px;
}

.padding-top-30 {
	padding-top: 30px;
}
.padding-top-20 {
	padding-top: 20px;
}

.padding-top-15 {
	padding-top: 15px;
}

.padding-top-10 {
	padding-top: 10px;
}
.padding-top-5 {
	padding-top: 5px;
}

.padding-bottom-200 {
	padding-bottom: 200px;
}

.padding-bottom-150 {
	padding-bottom: 150px;
}

.padding-bottom-130 {
	padding-bottom: 130px;
}

.padding-bottom-100 {
	padding-bottom: 100px;
}

.padding-bottom-90 {
	padding-bottom: 90px;
}

.padding-bottom-80 {
	padding-bottom: 80px;
}

.padding-bottom-70 {
	padding-bottom: 70px;
}

.padding-bottom-60 {
	padding-bottom: 60px;
}

.padding-bottom-50 {
	padding-bottom: 50px;
}

.padding-bottom-40 {
	padding-bottom: 40px;
}
.padding-bottom-30 {
	padding-bottom: 30px;
}
.padding-bottom-20 {
	padding-bottom: 20px;
}

.padding-bottom-15 {
	padding-bottom: 15px;
}

.padding-bottom-10 {
	padding-bottom: 10px;
}
.padding-bottom-5 {
	padding-bottom: 5px;
}

.padding-bottom-0 {
	padding-bottom: 0px;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 07 - NAVIGATION */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.navbar-nav{
	position:relative;
}
.navbar-nav .active-item-menu {
position: absolute !important;
left: 0;
bottom: 0px;
margin-left:7px;
width: 50px;
height:2px;
border-bottom: 2px solid #dc143c;
}

@media (max-width: 991px) {
	.monte-search{
		display:none !important;
	}
}

.monte-search{
	display:block;
	background: #dc143c;
	color: #fff;
	width:60px;
	height:60px;
	line-height: 60px;
	text-align: center;
	font-size: 16px;
	  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.monte-search:hover{
	background: transparent;
}

#primary-menu{
	margin-right:10px;
}
.fullnav{
	padding:0 !important;
}

@media (max-width: 991px) {
	.active-item-menu{
		display:none !important;
	}
}



.searchbox{
	position:absolute;
	width:200px;
	/*height:0; */
	right:0;
	background: #fff;
	top:55px;
	display:block;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	z-index: 99999;
	overflow:hidden;
	
	opacity: 0;
		-webkit-transform-origin: top;
		transform-origin: top;
		-moz-transform-origin: top;
		-o-transform-origin: top;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		-moz-animation-fill-mode: forwards;
		-o-animation-fill-mode: forwards;
		-webkit-transform: scale(1, 0);
		-moz-transform: scale(1, 0);
		-o-transform: scale(1, 0);
		transform: scale(1, 0);
		display: block;
}
.searchbox .form-control{
	border:none;
}
.searchbox .form-group{
	margin-bottom:0;
	border-bottom: 4px solid #dc143c;
}

.searchbox .form-control{
	color: #000;
	font-size:14px;
}

.searchbox .form-control:focus{
	border: none !important;
}
#searchicon.active + .searchbox{
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	
	display: block;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	opacity: 1;
}
/*
.searchbox:hover{
	display: block;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	opacity: 1;
}
*/

.top-bar {
	background: #fff;
	border-bottom: 1px solid #eeeeee;
	height: 55px;
	line-height: 55px;
	z-index: 9999;
	  margin: 0 auto;
  right: 0;
  left: 0;
}

.top-bar.dark{
	background:#111;
	border-bottom: 1px solid #222;
}
.top-bar.dark{
	color: #bbb;
}
.top-bar.dark i{
	color: #fff;
}
.navbar.dark{
	background: #222;
}

.navbar.dark .navbar-nav > li > a{
	color:#fff
}

.monte-search{
	float:right !important;
}

.navbar-fixed-top{
	border:none;
}

.navbar.dark .navbar-nav a {
	font-weight: 400;
	-webkit-text-stroke: 0px;

}

.dropdown-menu {
	background: #0a0a0a;
	border-bottom: 4px solid #dc143c;
}

.dropdown-menu > li, .dropdown-menu .dropdown-menu > li, .dropdown-menu .dropdown-menu .dropdown-menu > li {
	display: block;
	padding: 10px 30px;
	position: relative;
	transition: all .8s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}

.dropdown-menu > li > a:hover{
	padding-left:10px;
}



.dropdown-menu > li {
	border-bottom: 1px dotted #fff;
}
.dropdown-menu > li:last-child {
	border-bottom: none;
}

.dropdown-menu .dropdown-menu:before, .dropdown-menu:before {
	position: absolute;
	width: 100%;
	height: 5px;
	display: block;
	content: '';
	left: 0;
	bottom: -5px;
}

.dropdown-menu .dropdown-menu {
	top: 0;
	left: 100% !important;
	background-color: #0a0a0a;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}


@media (min-width: 991px) {
	.dropdown-menu {
		opacity: 0;
		-webkit-transform-origin: top;
		transform-origin: top;
		-moz-transform-origin: top;
	/*	-ms-transform-origin: top; */
		-o-transform-origin: top;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		-moz-animation-fill-mode: forwards;
	/*	-ms-animation-fill-mode: forwards; */
		-o-animation-fill-mode: forwards;
		-webkit-transform: scale(1, 0);
		-moz-transform: scale(1, 0);
	/*	-ms-transform: scale(1, 0); */
		-o-transform: scale(1, 0);
		transform: scale(1, 0);
		display: block;
	}

}

@media (min-width: 992px) {
	ul.nav li.dropdown:hover > ul.dropdown-menu {
		display: block;
		transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1;
	}
}

@media (max-width: 992px) {
	.dropdown-menu {
		padding-top: 10px;
	}
	.dropdown-menu .dropdown-menu:before, .dropdown-menu:before {
		display: none;
	}

	.dropdown-menu > li, .dropdown-menu .dropdown-menu > li, .dropdown-menu .dropdown-menu > li > ul li {
		display: block;
		background: none #000;
		position: relative;
	}

	.dropdown-menu > li:hover > ul li, .dropdown-menu > li > ul li:hover > ul li {
		background: none #000;
	}

	.dropdown-menu > li:hover, .dropdown-menu > li > ul li:hover, .dropdown-menu > li > ul li > ul li:hover, .dropdown-menu > li > ul li > ul li > ul li:hover {
		display: block;
		background: none #000;
		position: relative;
	}

	.nav-collapse {
		overflow-y: auto;
	}
	.navbar-nav ul, .navbar-nav ul li, .navbar-nav, .navbar-nav li{
		background: #000;
		
	}
	
	.navbar{
		background: #000 !important;
	}

}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle span{
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background: transparent;
	border:1px solid #dc143c;
}

.navbar-default .navbar-toggle:hover span, .navbar-default .navbar-toggle:focus span{
	background: #dc143c;
	color: #dc143c;
}


.dropdown .dropdown > a, .dropdown .dropdown .dropdown > a, .dropdown .dropdown .dropdown .dropdown > a {

	position: relative;
}
.dropdown ul .dropdown > a:after, .dropdown ul .dropdown ul .dropdown > a:after, .dropdown ul .dropdown ul .dropdown ul .dropdown > a:after {
	display: block;
	width: 5px;
	height: 100%;
	right: -10px;
	top: 2px;
	content: '';
	position: absolute;
	content: "\f178";
	font-family: "FontAwesome";
	font-size:10px;
	font-weight:100;
}

.logo {
	margin-right: 60px;
}
.logo img {
	vertical-align: middle;
}

.navbar {
	padding: 0;
	margin: 0 auto;
	top: 0px;
	min-height: 60px;
	z-index: 9999;
	background: #fff;
	margin-bottom: 0 !important;
	line-height: 60px;
	position: relative;
	top: auto;
	transition: all .1s ease;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
}

.navbar .container .row {
	padding-top: 15px;
	padding-bottom: 15px;
	transition: all .1s ease;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
}

.navbar-nav {
	transition: all .1s ease;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
}

@media (max-width: 992px) {
	.navbar {
		position: absolute !important;
		top: 0 !important;
	}
	.top-bar {
		display: none;
	}
	.header, .page-header, .standalone-portfolio {
		margin-top: 0px;
	}
}

.navbar-nav > li > a {
	padding: 0 20px;
	line-height: 60px;
}
.header {
	width: 100%;
	height: auto;
	position: relative;
}

.slider-overlap{
	position: absolute;
	bottom:auto;
	left:-100px;
  width: 150%;
  height: 80px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  content: '';
  display: block;
  z-index: 21;
}

@media (max-width: 767px) {
	.navbar {
		padding: 0;
	}
}

.navbar-default .navbar-toggle {
	border-color: #fff;
}
.navbar-toggle {
	position: relative;
	color: #fff;
	float: right;
	padding: 9px 10px;
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.navbar-nav a {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	transition: all .2s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}

.navbar-panel {
	float: right;
	padding-left: 35px;
	height: 60px;
}

.navbar-panel a {
	color: #fff;
	font-size: 16px;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	display: inline-block;
	width: 60px;
	height: 61px;
	line-height: 60px;
	text-align: center;
}

.navbar-panel a:hover {
	color: #fff;
	background: transparent;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}


.navbar-nav .active .dropdown-menu li a {
	color: #757575;
}

.navbar-nav .active .dropdown-menu li a:hover {
	color: #fff;
}

.navbar-header{
	z-index:5;
}
@media (max-width: 991px) {
	.navbar-header.name {
		display: none;
	}

	.navbar-nav > li > a {
		padding: 0px;
		line-height: 40px;
	}

}

@media (max-width: 1200px) {
	.navbar {
		padding: 0 20px;
	}

	.navbar-panel {
		display: none;
	}
}

.dropdown-menu > li > a {
	color: #757575;
	font-family: "Lato", sans-serif;
	font-weight: 400;
     font-size: 14px;
     text-transform: none;
     font-style:italic;
}

.dropdown-menu > li:hover > a {
	color: #fff;
}

.dropdown-menu {
	transition: top 1s ease-in-out;
	-webkit-transition: top 1s ease-in-out;
	-moz-transition: top 1s ease-in-out;
	-ms-transition: top 1s ease-in-out;
	-o-transition: top 1s ease-in-out;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 08 - SHORTCODES */
/*-------------------------------------------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------*/
/* 8.1 - COUNTERS */
/*---------------------------------------------------------------*/


.counter{
	text-align:center;
}
.counter h1{
	font-size:100px;
	font-weight: 900;
}


.counter i{
	display:inline-block;
	padding-right:15px;
}

.counter span{
	font-size:20px;
	font-weight:300;
}


.counter_dark_dark .counter-number h1, 
.counter_dark_dark.counter i{
	color: #000;
}

.counter_light_light .counter-number h1, 
.counter_light_light.counter i, 
.counter_light_light.counter span{
	color: #fff;
}

.counter_dark_accent .counter-number h1{
	color: #000;
}

.counter_dark_accent.counter i{
	color: #dc143c;
}

.counter_light_accent .counter-number h1, 
.counter_light_accent.counter span{
	color: #fff;
}

.counter_light_accent.counter i{
	color: #dc143c;
}


/*---------------------------------------------------------------*/
/* 8.1 - TESTIMONIALS */
/*---------------------------------------------------------------*/

.testimonial-content:after{
	background: #dc143c;
}



.testimonial{
	text-align:center;
	line-height:140%;
	font-weight:500;
}

.testimonial i{
	padding-bottom:50px;
	font-size:35px;
}
.testimonial-carousel .testimonial .testimonial-content{
	color: #505050;
	
}

.testimonial-carousel.carousel-light .testimonial i, 
.testimonial-carousel.carousel-light .testimonial h6{
	color: #fff;
}


.testimonial-carousel.carousel-dark .testimonial i, 
.testimonial-carousel.carousel-dark .testimonial h6{
	color: #000;
}


.testimonial-carousel .testimonial h6{
	font-family: "Lato";
	font-size:14px;
}
.testimonial-content{
	padding-bottom:120px;
	position:relative;
	font-size:15px;
	
}

.testimonial-content:after{
	content: '';
	position:absolute;
	left: calc(50% - 35px);
	bottom:60px;
	height:2px;
	width:70px;
}



.testimonial-carousel.carousel-light .owl-controls .owl-page span{
	background: #fff;
}

.testimonial-carousel.carousel-dark .owl-controls .owl-page span{
	background: #000;
}

.testimonial-carousel .owl-controls .owl-page.active span,
.testimonial-carousel .owl-controls.clickable .owl-page:hover span{
	background: #dc143c;
}

/*---------------------------------------------------------------*/
/* 8.1 - TEAM MEMBERS */
/*---------------------------------------------------------------*/

.team-member{
	padding:20px;
}

.team-member-inner img{
	width:100% !important;
}
.team-member-inner{
	width: 100%;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	overflow:hidden;
	position:relative;
	line-height:0;
}
.team-member-content{
	display:none;
	position: absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background: #000;
	text-align:center;

}
.team-member-content p{
	color: #fff !important;
}

.team-member-content span{
	display:block;
	padding-top:80px;
	font-weight:300;
	color: #454545;
	padding-bottom:15px;
}

@media (max-width: 496px){
	.team-member-content span{
		padding-top:150px;
	}
}

@media (max-width: 549px) and (min-width: 497px){
	.team-member-content span{
		padding-top:65px;
	}
}


@media (max-width: 629px) and (min-width: 550px){
	.team-member-content span{
		padding-top:80px;
	}
}

@media (max-width: 768px) and (min-width: 630px){
	.team-member-content span{
		padding-top:100px;
	}
}
@media (max-width: 991px) and (min-width: 767px) {
	.team-member-content span{
		padding-top:50px;
	}
}


.team-carousel{
	z-index:1;
}
.team-member-content h1{
	padding-top:0;
	font-size:24px;
	font-weight: 400;
	color: #fff;
	display:block;
	padding-bottom:50px;
	position:relative;
}

.team-member-content h1:after{
		content: '';
	position:absolute;
	left: calc(50% - 20px);
	bottom:25px;
	height:2px;
	width:40px;
}

.team-member-inner:hover .team-member-content{
	display:block;
}

.team-member-content a{
	padding:7px;
	color: #fff;
	
}


.team-carousel.carousel-light .owl-controls .owl-page span{
	background: #fff;
}

.team-carousel.carousel-dark .owl-controls .owl-page span{
	background: #000;
}

.team-carousel .owl-wrapper-outer{
	padding-bottom:50px;
}

.team-member-content h1:after{
	background: #dc143c;
}

.team-carousel .owl-controls .owl-page.active span,
.team-carousel .owl-controls.clickable .owl-page:hover span{
	background: #dc143c;
}
/*---------------------------------------------------------------*/
/* 8.1 - SOCIALIZE ICONS */
/*---------------------------------------------------------------*/


.socialize-icon{
	width:105px;
	line-height:110px;
	height: 105px;
	text-align:center;
	border:2px solid;
		position:relative;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}

.socialize-icon.centered{
	margin:0 auto;
}
.socialize-icon.socialize-light{
	color: #fff;
}

.socialize-icon.socialize-dark{
	color: #000;
}


.socialize-icon.socialize-dark:before{
	position:absolute;
	display:block;
	height:20px;
	width:2px;
	left:-2px;
	top: calc(50% - 10px);
	content: '';
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;

}
.socialize-icon.socialize-light:before{
	position:absolute;
	display:block;
	height:20px;
	width:2px;
	left:-2px;
	top: calc(50% - 10px);
	content: '';
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
}

.socialize-icon.socialize-light:after{
	position:absolute;
	display:block;
	height:20px;
	width:2px;
	right:-2px;
	top: calc(50% - 10px);
	content: '';
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
}


.socialize-icon.socialize-dark:after{
	position:absolute;
	display:block;
	height:20px;
	width:2px;
	right:-2px;
	top: calc(50% - 10px);
	content: '';
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;

}

.socialize-icon.socialize-light:after{
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
}

.socialize-icon.socialize-light:before{
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
}


.socialize-icon.socialize-dark:after{
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
}

.socialize-icon.socialize-dark:before{
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
}

.socialize-icon a{
	font-size:35px;
		transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	font-weight:bold;
}
.socialize-icon.socialize-light a{
	color: #fff;
}

.socialize-icon.socialize-dark a{
	color: #000;
}


.socialize-icon:before{
	background: #dc143c; 
}

.socialize-icon:after{
	background: #dc143c; 

}

.socialize-icon a:hover{
	color: #dc143c; 
}
/*---------------------------------------------------------------*/
/* 8.2 - PROGRESS BARS */
/*---------------------------------------------------------------*/



.skill-chart {
	text-align: center;
	display: block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
}

.chart canvas, .chart-white canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.chart-white, .chart{
  position: relative;
  display: inline-block;
  width: 180px;
  height: 180px;
  text-align: center;
  background: transparent;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.chart h4, .chart-white h4 {
	display: inline-block;
	line-height: 100px;
	text-align: center;
	padding-left: 35px;
	z-index: 2;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	font-size: 16px;
}

.chart h1, .chart-white h1 {
  display: inline-block;
  line-height: 180px;
  z-index: 2;
  font-weight: 900;
  font-size: 40px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.chart-white h4 {
	color: #f8f8f8;
}

.progress h3{
	  display: block;
  padding-bottom: 15px;
  padding-top: 20px;
}

.progress{
	padding-top: 40px;
	padding-bottom:20px;
}

.progress p{
	color: #505050;
	
}

/*---------------------------------------------------------------*/
/* 8.4 - SERVICES */
/*---------------------------------------------------------------*/

.service i{
	display:block;
	padding-bottom:15px;
	font-size:30px;
	color: #dc143c;
}

.service p{
	font-weight:400;
	color: #757575;
}

.service_dark_bg {
	font-weight:300;
}
.service h3{
	font-size:20px;
	padding-bottom:20px;
}

.service span a{
	font-size: 13px;
	color: #000;
	font-weight:600;
	position: relative;
}

.service span a:after{
	position: absolute;
	top:0;
	color: #000;
	right: -12px;
	font-family: FontAwesome;
	content: "\f0da";
	top:0;
}

.service_dark_bg i, .service_dark_bg span, .service_dark_bg span a, .service_dark_bg p, .service_dark_bg h3, .service_dark_bg {
	color:#ffffff;
}



/*---------------------------------------------------------------*/
/* 8.5 - CALL TO ACTION */
/*---------------------------------------------------------------*/


.cta i {
	display: inline-block;
	font-size: 36px;
	color: #efefef;
}
.cta h6 {
	display: inline-block;
}

@media (max-width: 992px) {
	.cta .col-md-1, .cta .col-md-8, .cta .col-md-3 {
		text-align: center;
	}
}

.call-to-action-white {
	background: #fff;
}

.call-to-action-dark {
	background: #222;
}

.call-to-action-dark .cta h6 {
	color: #fff;
}
.call-to-action-grey {
	background: #f8f8f8;
}

.call-to-action-grey .cta i {
	color: #fff;
}



.cta-left {
	padding-left: 50px;
	padding-top: 10px;
}

.call-to-action-dark .cta-left {
	border-left: 4px solid #f8f8f8;
}

.call-to-action-white .cta-left {
	border-left: 4px solid #222;
}

.call-to-action-grey .cta-left {
	border-left: 4px solid #222;
}

/*---------------------------------------------------------------*/
/* 8.6 - BUTTONS */
/*---------------------------------------------------------------*/
.button {
	display:inline-block;
  text-align: center;
  padding: 15px 35px;
  font-weight: 600;
  font-size: 14px;
  color: #000;
  border: 2px solid;
  text-transform: uppercase;
  position: relative;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  background: transparent;
}

.button.medium{
	font-size: 12px;
	padding: 10px 25px;
}

.button.small{
	font-size: 12px;
	padding: 7px 15px;
}

.button:hover{
	border: 2px solid #dc143c; 
}

.button:before{
	background: #dc143c;
	position:absolute;
	display:block;
	height:20px;
	width:2px;
	left:-2px;
	top: calc(50% - 10px);
	content: '';
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}

.button:after{
	background: #dc143c;
	position:absolute;
	display:block;
	height:20px;
	width:2px;
	right:-2px;
	top: calc(50% - 10px);
	content: '';
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}

.button:hover:before, .button:hover:after{
	background: #000; 
}


.button.white_black {
	color: #fff;
}

.button.white_black:before, .button.white_black:after{
	background: #000;
}

.button.white_black:hover:before, .button.white_black:hover:after{
	background: #fff; 
}



.button.white_white {
	color: #fff;
}

.button.white_white:before, .button.white_white:after{
	background: #fff;
		border-top: 5px solid #000;
	border-bottom: 5px solid #000;
}

.button.white_white:hover:before, .button.white_white:hover:after{
	background: #fff; 
}


.button.white_accent {
	color: #fff;
}

.button.white_accent:before, .button.white_accent:after{
	background: #dc143c;
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
}

.button.white_accent:hover:before, .button.white_accent:hover:after{
	background: #fff; 
}



.button.black_white {
	color: #000;
}

.button.black_white:before, .button.black_white:after{
	background: #000;
		border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
}

.button.black_white:hover:before, .button.black_white:hover:after{
	background: #000; 
}



.button.black_black {
	color: #000;
}

.button.black_black:before, .button.black_black:after{
	background: #000;
}

.button.black_black:hover:before, .button.black_black:hover:after{
	background: #000; 
}


.wpb_row, .wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button{
	margin-bottom:0 !important;
}
/*---------------------------------------------------------------*/
/* 8.7 - LISTS */
/*---------------------------------------------------------------*/

.bullet-list li {
	display: block;
	background: url(../images/bullet.png) no-repeat 20px center;
	padding-left: 50px;
	position: relative;
}

.item-list li {
	display: block;
	padding-left: 50px;
	position: relative;
}

.item-list li:before {
	color: #000000;
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -32px;
	width: 28px;
}

.item-list.arrow-circle-o-right li:before {
	content: '\f18e';
}

.item-list.arrow li:before {
	content: '\f061';
}

.item-list.chevron li:before {
	content: '\f054';
}

.item-list.check li:before {
	content: '\f00c';
}

.item-list.check-square li:before {
	content: '\f046';
}

.item-list.check-circle li:before {
	content: '\f058';
}

.item-list.xclose li:before {
	content: '\f00d';
}

.item-list.forward li:before {
	content: '\f064';
}

.item-list.toggles li:before {
	content: '\f152';
}

.item-list.times li:before {
	content: '\f057';
}

.item-list.paw li:before {
	content: '\f1b0';
}

/*---------------------------------------------------------------*/
/* 8.8 - TABS */
/*---------------------------------------------------------------*/

.tabs-primary li > a {
	border-radius: 0 !important;
	background: #fff;
	color: #000;
	font-size: 13px;
	font-weight: 400;
}

.tabs-secondary li > a {
	border-radius: 0 !important;
	background: #fff;
	color: #000;
	font-size: 13px;
	font-weight: normal;
}

.tab-pane p {
	padding-top: 20px;
}

.tabs-primary li a:hover {
	font-weight: 400;
	color: #fff !important;
	background: #dc143c;
}



.wpb_tabs  li  a {
	border: none;
}
.nav-tabs .active {
}

.wpb_tabs {
	border: none;
}

.tabs-primary li.ui-tabs-active > a, .tabs-primary li.ui-tabs-active a:hover, .tabs-primary li.ui-tabs-active a:focus {
	border: none;
	color: #fff;
	font-weight: 400;
	background: #dc143c;
}



.tabs-secondary li.ui-tabs-active a, .tabs-secondary li.ui-tabs-active a:hover, .tabs-secondary li.ui-tabs-active a:focus {
	background: #000;
	color: #fff;
}


.tabs-secondary li:hover a{
	background: #000;
	color: #fff;
}
.tabs-primary li a:hover {
	background: #000;
}
.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab,
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content{
	padding: 20px 0 !important;
}
.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab{
	background: transparent !important;
}

.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a, .wpb_content_element .wpb_accordion_header a{
	padding: 1em 1.5em !important;
}



.accordion-primary .wpb_accordion_header {
	color: #000;
	background-color: #dc143c !important;
}

.accordion-primary .wpb_accordion_header a{
	color: #000;
}
.accordion-secondary .wpb_accordion_header {
	background-color: #000 !important;
}
.accordion-primary  .wpb_accordion_header a {
	font-family: "Montserrat", sans-serif;
  	font-size: 16px;
	color: #fff;
}

.accordion-secondary .wpb_accordion_header a {
	font-family: "Montserrat", sans-serif;
  	font-size: 16px;
	color: #fff;
}
.wpb_content_element .wpb_accordion_header a{
	padding: 1em !important;
}

.ui-accordion-header-icon{
	display:none !important;
}

.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header{
	margin: 0 0 5px 0 !important;
}





.wpb_content_element .wpb_tour .wpb_tabs_nav li{
	background: #222 !important;
}

.wpb_content_element .wpb_tour .wpb_tabs_nav li a{
	color: #fff;
}




.wpb_prev_slide, .wpb_next_slide{
	display:none !important;
}

.wpb_tour .wpb_tour .wpb_tab{
	width: auto !important;
}


.wpb_content_element .wpb_tour .wpb_tab{
	padding: 0 20px !important;
}

.wpb_tour .wpb_tour .wpb_tab{
	float: none !important;
}





.vc_toggle_icon, .vc_toggle_icon:before, .vc_toggle_icon:after{
	display:none !important;
}

.vc_toggle_title{
	background: #000;
	
}

.vc_toggle_active .vc_toggle_title{
	background: #dc143c;
}

.vc_toggle_title{
	padding:10px !important;
}
.vc_toggle_title h4{
	font-family: "Montserrat", sans-serif;
  	font-size: 16px;
	color: #fff;
}

.vc_toggle_active .vc_toggle_title h4{
	color: #fff;
}

.vc_toggle_size_md.vc_toggle_default .vc_toggle_content{
	padding-left: 0 !important;
}

.vc_toggle:last-of-type{
	margin-bottom: 5px !important;
}





@media (min-width: 768px) and (max-width: 991px) {
	
	.chart.easyPieChart, .chart.easyPieChart canvas{
		width:150px !important;
		height: 150px !important;
		line-height: 150px !important;
	}
	
	.chart h1, .chart-white h1{
		line-height: 150px;
	}
	
	.service h3, .service i,
	.counter span{
		font-size:16px;
	}
	
	.counter h1{
		font-size:80px;
	}
}





/*---------------------------------------------------------------*/
/* 9 - PORTFOLIO */
/*---------------------------------------------------------------*/

.hidden{
	display:none;
}


.portfolio-buttons li {
	display: inline-block !important;
	background: none !important;
	padding-left: 0 !important;
}
.portfolio-buttons{
	margin: 0 !important;
}
@media (max-width: 767px) {

	.portfolio-buttons a {
		padding: 5px 10px !important;
		font-size: 12px !important;
	}
}

.flexslider ul{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.flexslider ul li{
	padding:0 !important;
	background:none !important;
}

.flexslider{
	box-shadow: none !important;
}
.portfolio-buttons{
	position: relative;
	display:inline-block;
}
.portfolio-buttons a {
	display: block;
	padding: 5px 11px;
	color: #000;
	font-weight:normal;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	font-size: 14px;
	text-transform: uppercase;
}


.active-item {
position: absolute;
left: 0;
bottom: -2px;
width: 50px;
}



.portfolio-buttons .active a, .portfolio-buttons a:hover {
	color: #000;
}

.portfolio .portfolio-picture{
	height:360px;
}


.portfolio-picture {
	width: 100%;
	overflow: hidden;
	position: relative;
	background: no-repeat;
	background-position: 50% 50%;
	background-size: cover !important;
}

.portfolioitems.portfolio-standalone{
	background: #000;
}

@media (max-width: 767px) {
	.portfolio-standalone {
		width: 100%;
	}
}

@media (min-width: 992px) {
.portfolio-standalone {
		width: 25%;
	}
}
	
.portfolio-description {
	overflow: hidden;
	height: 270px;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	padding: 0 40px;
}

.portfolio {
	padding: 0px;
	margin:0;
}
.portfolio-picture:after {
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background: transparent;
	left: 0;
	top: 0;
	position: absolute;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}

.portfolio:hover .portfolio-picture:after {
	background: #000;
}

.portfolio-description i {
	display: block;
	padding-bottom: 10px;
	color: #ccc;
	font-size: 18px;
}

.portfolio-description h2 {
	font-size: 24px;
	font-weight: bold;
	text-transform: lowercase;
	margin-bottom: 40px;
	position: relative;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}



.portfolio-description h2:after {
	position: absolute;
	content: '';
	width: 10px;
	height: 1px;
	background: #9d9d9d;
	left: 0;
	bottom: -20px;
}

.categories, .project-name{
	display:block;
}

.categories{
	font-size:14px;
	padding-bottom:6px;
	opacity:0;
	color: #757575;
}

.project-name{
	font-size: 24px;
	color: #fff;
	letter-spacing:-1px;
	padding-bottom:60px;
	position:relative;
	opacity:0;

}

.portfolio:hover .project-name,
.portfolio:hover .categories{
	opacity:1;

}
.project-name:after{
	content: '';
	position: absolute;
	width: 40px;
	display:block;
	bottom:30px;
	left: calc(50% - 20px);
	
}

.portfolio-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	left: 0;
	top: 0;
	display: none;
	z-index: 2;
	padding-top: 130px;
}

.portfolio:hover .portfolio-hover {
	display: block;
}

.portfolio-hover a, .portfolio-hover i {
	padding: 5px;
	color: #fff;
	font-size: 14px;
	font-weight: 200;
	
}

.portfolio-hover.fol a{
	border:none !important;
}

.portfolio-hover.fol a:hover{
	border:none !important;
}

.portfolio-carousel .owl-controls {
	position: absolute;
	left: 0;
	top: 250px;
	width: 100%;
}

.portfolio-carousel .owl-controls .owl-prev {
	left: -100px;
	position: absolute;
}

.portfolio-carousel .owl-controls .owl-next {
	right: -100px;
	position: absolute;
}

@media (max-width: 991px) {
	.portfolio-carousel .owl-controls .owl-prev {
		display: none !important;
	}

	.portfolio-carousel .owl-controls .owl-next {
		display: none !important;
	}
}

@media (max-width: 1200px) {
	.portfolio-carousel .owl-controls .owl-prev {
	left: -30px;
}

.portfolio-carousel .owl-controls .owl-next {
	right: -30px;
}
	
}
.portfolio-carousel .owl-controls .owl-buttons div {

	background: transparent !important;
	opacity: 1 !important;
}

.spacer-background {
	background: #1e1f20;
	padding: 15px;
}

.spacer-background h2 {
	color: #fff;
}

.spacer {
	display: block;
	position: absolute;
	bottom: -30px;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 2;
}

.vc_column_container, .container{
	z-index:70;
}
#single-home-container #ajaxContainer {
	padding-top: 50px;
}

.portfolio-item-navigation-ajax {
	display: none;
}

#single-home-container .portfolio-item-navigation-ajax {
	display: block;
}

.portfolio-item {
	width: 100%;
}

/* single portfolio */

.prev-item {
	color: #FFF;
	display: inline-block;
	zoom: 1;
	width: 45px;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #000;
		transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;

}

.next-item {
	color: #FFF;
	display: inline-block;
	zoom: 1;
	width: 45px;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #000;
		transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;

}

.exit-item {
	display: inline-block;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 45px;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	color:#fff;
	font-weight: bold;
		transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;

}

.exit-item a, .next-item a, .prev-item a{
	color: #fff;
}
.active-item {
border-bottom: 2px solid #dc143c;
}

.project-name:after{
	border-bottom:2px solid #dc143c;
}
.prev-item:hover{
	background: #dc143c;
}
.next-item:hover{
	background: #dc143c;
}
.exit-item {
	background: #dc143c;
}

.exit-item:hover{
	background: #000;
}

.singleportfolio {
	padding-bottom: 50px;
}

.portfolio-title {
	font-size: 32px;
	padding-bottom: 20px;
}



/*---------------------------------------------------------------*/
/* 10 - BLOG */
/*---------------------------------------------------------------*/
.stickypost{
  padding: 20px;
  border:1px solid #ccc;
 }
 
 
 
.news-picture{
	display:block;
	width:100%;
	height: 270px;
	position:relative;
	background: no-repeat;
	background-position: 50% 50%;
	background-size: cover !important;
	margin-bottom: 20px;
}

.news-picture:after{
	display:block;
	content:'';
	position: absolute;
	width:100%;
	height: 9px;
	bottom:0;
	left:0;
}

.blog-date{
	text-align:center;
	position: absolute;
	top:0;
	right:0;
	width: 77px;
	height: 80px;
	padding-top:20px;
}

.day{
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size:30px;
	font-weight:bold;
	padding-bottom:4px;
	display:block;
}

.month{
	color: #fff;
	font-size:16px;
	padding-bottom:5px;
	font-weight:400;
	display:block;
}

.news-content h1{
	font-size:30px;
	font-weight: bold;
}

.newsinfo, .newsinfo a{
	color: #757575;
	font-size:12px;
	text-transform: uppercase;
	font-weight:400;
}

.news-excerpt{
	 color: #757575;
}

.mainstickypost{
	border:1px solid;
	padding-top:15px;
}
.newsinfo{
	padding-bottom:20px;
	display:block;
}
 

.post-image {
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}

.post iframe, .post .fluid-width-video-wrapper, .post .flexslider, .post .imagepost {
	margin-bottom: 30px;
}

.flex-direction-nav li .flex-next, .flex-direction-nav li .flex-prev {
	background-color: #000 !important;
}

.flexslider {border: none !important; position: relative; -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; -o-border-radius: 0 !important; border-radius: 0 !important; zoom: 1;}

/* Direction Nav */
.flex-direction-nav li a {width: 30px; height: 30px; text-align: center; line-height:30px; display: block; position: absolute; top: auto; bottom: 0px; cursor: pointer; z-index: 4; opacity:1 !important; }
.flex-direction-nav li .flex-next {left: 31px !important;}
.flex-direction-nav li .flex-prev {left: 0px !important; }
.flex-direction-nav li .flex-next i{color: #fff; font-size: 10px;}
.flex-direction-nav li .flex-prev i{color: #fff; font-size: 10px;}
.flex-direction-nav li .flex-disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

.flex-direction-nav a:before{
	display:none !important;
}

.flex-direction-nav li, .flex-direction-nav li a {
	text-align:center !important;
}
.post-left i {
	display: block;
	font-size: 40px;
	color: #bc1236;
	padding-bottom: 20px;
}

.post-left .month {
	display: block;
	color: #000;
	font-size: 18px;
}
.post-left .day {
	display: block;
	color: #000;
	font-size: 48px;
}

.post-title-big {
	font-size: 36px;
	color: #000;
	display: block;
}

.post-info-bar {
	padding-top: 20px;
	padding-bottom: 10px;
	font-weight:normal;
}

.post-info-bar a, .post-info-bar span{
	color: #000;
	font-weight:normal;
}

.info-item{
	display:inline-block;
}
.post-info-bar span {
	font-size: 12px;
	padding-right: 15px;
}

.post-info-bar a {
	font-size: 12px;
}
.post-info-bar i {
	padding-right: 10px;
	font-size: 14px;
	color: #bc1236;
}

.readmore {
	float: right;
	display: block;
	padding-top: 5px;
	padding-bottom: 30px;
}

.post {
	border-bottom: 1px solid #000;
	padding-bottom: 20px;
	margin-bottom: 50px;
}

.post:last-child {
	border-bottom: 0px;
	margin-bottom: 0px;
}

.flex-direction-nav li .flex-next, .flex-direction-nav li .flex-prev {
	background-color: #000 !important;
}


.blog-content .form-submit{
	display:none;
}


#news .pagination {
	text-align: center;
	margin: 0px;
	padding-bottom: 50px;
}
.pagination {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}


.pagination a{
	display: inline;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	margin-right: 3px;
	-o-transition: all .2s ease-in-out;
	color: #000;
}

.woocommerce-pagination li {
	display: inline-block;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	margin-right: 3px;
	-o-transition: all .2s ease-in-out;
	color: #000;
}

.pagination a, .pagination span{
	display:inline;
	width:100%;
	height:100%;
	padding: 7px 10px;
	background: #fff;
	color: #000;
	  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  border:1px solid;
}

.woocommerce-pagination li a, .woocommerce-pagination li span{
	display:block;
	width:100%;
	height:100%;
	padding: 7px 10px;
	background: #fff;
	color: #000;
	  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  border:1px solid;
}


.woocommerce-pagination li:hover a, .woocommerce-pagination.current,
.pagination a:hover, .page-numbers.current{
	color: #fff;
	background: #000;
	border:1px solid #000;
}



.special-pagination .page-numbers li{
	color: inherit;
}
.special-pagination .page-numbers a{
	border:1px solid;
	color: inherit;
	background: transparent;
	
}

.special-pagination .page-numbers.current{
	border:none;
	color: inherit;
	background: transparent;
}

.special-pagination span{
	display:inline !important;
}
.singlepost iframe, .singlepost .fluid-width-video-wrapper, .singlepost .flexslider, .singlepost .imagepost {
	margin-bottom: 30px;
}

.singlepost blockquote {
	margin-bottom: 40px !important;
}

blockquote p{
	padding-bottom:20px;
}
.single-tags {
	padding: 20px 0;
}

.single-tags a {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}
.single-tags i {
	color: #bc1236;
	padding-right: 15px;
}

.singlepost {
	border-bottom: 1px solid #000;
	padding-bottom: 20px;
	margin-bottom: 50px;
}

.comments-headline, .comment-reply-title {
	display: block;
	padding-bottom: 30px;
	font-size: 24px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	line-height: 125%;
}

.comment-reply-link{
	color:#bcbcbc;
	text-transform:lowercase;
}

.comment-notes{
	display:none;
}

.comments {
	padding-bottom: 80px;
}

.comments li {
	clear: both;
}
.comments li ul {
	padding-left: 200px;
}

.comments img {
	margin-right: 20px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	float: left;
	max-width:100px;
}

.comment-name {
	display: block;
	padding-bottom: 5px;
}
.comment-name .name {
	color: #000;
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	padding-right: 10px;
	text-transform: uppercase;
}

.comment-name .reply {
	display: inline-block;
	color: #bcbcbc;
}

.comment-date {
	display: block;
	padding-bottom: 5px;
	color: #bcbcbc;
	font-size: 11px;
}
.comment-date a{
	color: #bcbcbc;
	font-size: 11px;
}

.comment-body{
  border-bottom: 1px solid #000;
  min-height: 110px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.comments .children{
	padding-left:200px;
}
.comments li {
	min-height: 110px;
	padding-bottom: 30px;
	padding-top: 10px;
}

.comment-reply {
	border-bottom: 0px solid #dcdedf !important;
	padding-bottom: 10px !important;
}

.comment-form input {
	margin-bottom: 25px;
	border: none;
	border-bottom:1px solid;
	color: #000;
	text-align:left;
	  height: 70px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
}

.comment-form textarea{
	margin-bottom: 25px;
	border: none;
	outline:none;
	border: 1px solid;
	color: #000;
	height: 200px;
	margin-top: 40px;
	text-align:left;
	padding:30px;
	 font-size: 14px;
  line-height: 16px;
}

.comment-form input:focus {
	border: 0 !important;
	border-bottom:1px solid #dc143c !important;
}

.comment-form textarea:focus{
	outline:none;
	border:1px solid #dc143c !important;
}

.comment-form ::-webkit-input-placeholder {
   color: #000;  
}

.comment-form :-moz-placeholder { /* Firefox 18- */
   color: #000;  
}

.comment-form ::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}

.comment-form :-ms-input-placeholder {  
   color: #000;  
}


.comment-form .sub {
	border: 0px !important;
}

.comment-form {
	margin-bottom: 40px;
}



.blog-style h1{
	padding-bottom: 20px;
}

.blog-style span{
	padding-bottom: 8px;
	display:block;
}

.blog-style span, .blog-style span a{
	font-size:13px;
	font-weight:normal;2
}

.styled-links a{
	color: inherit;
}
.blog-style .blog-style-icon{
	text-align:right;
	font-size:40px;
	padding-top:30px;
}


@media (max-width: 992px) {
	
	.blog-style-icon i{
		display:none;
	}
}


.news-picture:after{
	background: #dc143c;
}

.blog-date{
	background: #dc143c;
}

.error h5, .error h4{
	color: #ffffff;
}

.error-page p{
	z-index:3;
}

.error-page h1 {
	display: block;
	padding-bottom: 80px;
	font-weight: bold;
}

.error-page h2 {
	display: block;
	padding-bottom: 80px;
	font-size: 42px;
	font-weight: bold;
	z-index:3;
}

.error-page .return-home i {
	color: #bc1236;
	font-size: 50px;
	padding-bottom: 80px;
}

.error {
	overflow: hidden;
}
.error-shadow {
	display: block;
	z-index: 0;
	position: absolute;
	left: 0;
	text-align: center;
	width: 100%;
	top: -100px;
}

.error-shadow h1 {
	color: #f7f7f7 !important;
	font-size: 500px  !important;
}

@media (max-width: 992px) {
	.error-shadow {
		top: 30px;
	}
	.error-shadow h1 {
		font-size: 300px;
	}
}

@media (max-width: 767px) {
	.error-shadow {
		top: 100px;
	}
	.error-shadow h1 {
		font-size: 200px;
	}
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 11 - SIDEBAR */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.sidebar h5 {
	display: block;
	padding-bottom: 15px;
	font-size: 30px;
	font-family: "Montserrat";
	font-weight: 600;
}

.sidebar .widget {
	margin-bottom: 60px;
	display: block;
}
/*---------------------------------------------------------------*/
/* 11.1 - SIDEBAR -SEARCH */
/*---------------------------------------------------------------*/


.widget_search .form-group:after{
	position:absolute;
	display:block;
	height:20px;
	width:2px;
	left:0px;
	background: #dc143c;
	top: calc(50% - 10px);
	content: '';
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}


.widget_search .form-group:before{
	position:absolute;
	display:block;
	height:20px;
	width:2px;
	background: #dc143c;
	right:0px;
	top: calc(50% - 10px);
	content: '';
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}


.form-control, .widget_product_search #s, .wpcf7-form-control {
	width: 100%;
}

.screen-reader-text{
	display:none;
}



.form-control, .wpcf7-form-control, .widget_product_search #s {
	display: block;
	width: 100%;
	height: 60px;
	text-align: center;
	
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 14px;
	line-height: 40px;
	color: #000;
	background-color: transparent;
	border:none;
	border: 2px solid #000;
	
}

.wpcf7-textarea{
	height: 100px;
	-webkit-text-stroke: 0px;
}

.form-control, .screen-reader-text, .wpcf7-form-control{
		transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}
.form-control:focus, .screen-reader-text:focus, .wpcf7-form-control:focus {
	border: 2px solid #dc143c !important;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}


#searchform ::-webkit-input-placeholder {
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
}


#searchform :-ms-input-placeholder {
	color: #000;
}


/*
#searchform :-moz-placeholder {
	color: #eee;
	opacity: 1;
}

#searchform ::-moz-placeholder {/
	color: #eee;
	opacity: 1;
}

*/
.search-widget .form-control {
	text-align: center;
	font-size: 14px;
	padding: 10px;
	height: 40px;
}




/*---------------------------------------------------------------*/
/* 11.2 - CATEGORIES */
/*---------------------------------------------------------------*/

.sidebar .widget_categories li,
.sidebar .widget_archive li,
.sidebar .widget_nav_menu li,
.sidebar .widget_pages li,
.woocommerce.widget_product_categories li{
	display: block;
	background: url(../images/bullet.png) no-repeat 20px 23px;
	padding: 15px;
	padding-left: 50px;
	border-bottom: 1px solid #000;
	position: relative;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}






.sidebar .widget_categories li a,
.sidebar .widget_archive li a,
.sidebar .widget_nav_menu li a,
.sidebar .widget_pages li a,
.woocommerce.widget_product_categories li a{
	font-weight: normal;
	color: #000;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}

.sidebar .widget_categories li:hover,
.sidebar .widget_archive li:hover,
.sidebar .widget_nav_menu li:hover,
.sidebar .widget_pages li:hover,
.woocommerce.widget_product_categories li:hover{
	color: #fff;
	background: #bc1236;
	border-bottom: 1px solid #bc1236;
	background: url(../images/bullet-white.png) no-repeat 25px 23px #bc1236;
}

.sidebar .widget_categories li:hover a,
.sidebar .widget_archive li:hover a,
.sidebar .widget_nav_menu li:hover a,
.sidebar .widget_pages li:hover a,
.woocommerce.widget_product_categories li:hover a{
	color: #fff;
}
.sidebar .widget_categories li:hover:before,
.sidebar .widget_archive li:hover:before,
.sidebar .widget_nav_menu li:hover:before,
.sidebar .widget_pages li:hover:before,
.woocommerce.widget_product_categories li:hover:before{
	background: #bc1236;
}
.sidebar .widget_categories li:before,
.sidebar .widget_archive li:before,
.sidebar .widget_nav_menu li:before,
.sidebar .widget_pages li:before,
.woocommerce.widget_product_categories li:before{
		content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	top: -1px;
	left: 0;
	background: transparent;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}




.sidebar .widget_categories li ul li,
.sidebar .widget_archive li ul li,
.sidebar .widget_nav_menu li ul li,
.sidebar .widget_pages li ul li,
.woocommerce.widget_product_categories li ul li{
	border-bottom: none !important;
}

.widget_categories select,
.widget_nav_menu select,
.widget_meta select, 
.widget_pages select,
.widget_recent_comments select,
.widget_archive select,
.woocommerce.widget_product_categories select{
	font-weight: normal;
	color: #222;
	text-transform: uppercase;
display: block;
width: 100%;
height: 40px;
background-color: transparent;
border:0;

-webkit-appearance: none;  /*Removes default chrome and safari style*/
-moz-appearance: none;  /*Removes default style Firefox*/
}

.widget_categories select option,
.widget_nav_menu select option,
.widget_meta select option, 
.widget_pages select option,
.widget_recent_comments select option,
.widget_archive select option,
.woocommerce.widget_product_categories select option{
	font-size: 11px;
	padding:7px;
	padding-left: 20px;
}
.pseudo-dropdown{
	position: relative;	
}
.pseudo-dropdown-bg{
	display:block;
	z-index:2;
	height: 35px;
	line-height: 35px;
	width: 40px;
	color: #373737;
	text-align: center;
	overflow: hidden;
	font-size: 12px;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	pointer-events:none;
}

*:focus {
    outline: 0;
}
/*---------------------------------------------------------------*/
/* 11.3 - LATEST NEWS */
/*---------------------------------------------------------------*/

.latest-news-list li {
	width: 100%;
	height: 125px;
	overflow: hidden;
	position: relative;
	background: no-repeat;
	background-position: 50% 50%;
	background-size: cover !important;
	margin-bottom: 20px;
	display: block;
}

.news-list-hover {
	opacity: 0;
	background: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}

.news-list-hover.nopicture{
	opacity: 1;
	background: #dc143c;
}
.news-list-hover.nopicture:hover{
	background: #000;
}
.news-list-hover h3 {
	font-size: 18px;
	display: block;
	padding: 15px;
	font-size: 18px;
	color: #fff;
}
.news-list-hover i {
	font-size: 18px;
	color: #fff;
}

.latest-news-list li:hover .news-list-hover {
	opacity: 1;
}

.recentcomments{
	padding-bottom:5px;
	
}

.comment-author-link, .comment-author-link a{
	font-size:13px;
	font-weight:bold;
	text-transform: uppercase;
}
/*---------------------------------------------------------------*/
/* 11.4 - TAGS */
/*---------------------------------------------------------------*/

.tagcloud a {
	display: inline-block;
	font-size: 14px !important;
	font-weight: bold;
	text-transform: uppercase;
	padding: 12px 18px;
	border: 1px solid;
	color: #000;
	margin: 0 5px 5px 0;
}

.tagcloud a:hover {
	color: #fff;
	background: #bc1236;
	border: 1px solid #bc1236;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}



/*---------------------------------------------------------------*/
/* 11.5 - CALENDAR */
/*---------------------------------------------------------------*/

#wp-calendar{
	width:100%;	
}

#wp-calendar caption{
	font-size: 14px !important;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom:20px;
	padding: 12px 18px;
	border: 1px solid #dcdedf;
	  font-family: "Montserrat", sans-serif;
  	line-height: 125%;
  	color: #222;
  	font-weight: 500;
  	
}

#wp-calendar thead th{
	font-size: 14px !important;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom:10px;
	padding: 12px 0;
	text-align:center;
	border: 1px solid #dcdedf;
	  font-family: "Montserrat", sans-serif;
  	line-height: 125%;
  	color: #222;
  	font-weight: 500;
}

#wp-calendar tbody td{
	padding: 8px 0;
	text-align:center;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 12 - FOOTER */
/*-------------------------------------------------------------------------------------------------------------------------------*/


.footer-overlap{
	position: absolute;
	bottom:top;
	left:-100px;
  width: 150%;
  height: 80px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  content: '';
  display: block;
  z-index: 21;
  background: #000;
}

#footer h1, #footer h2, #footer h3, 
#footer h6, #footer h5, #footer h4{
	color: #fff;
}
#footer p{
	color: #505050;
}
#footer, #white-footer{
	position: relative;
}
#upper-footer{
	background: #fff;
}

#upper-footer .block{
	display:block;
}

#upper-footer .social{
	display:inline-block;
	padding:0 50px;
}

#upper-footer i{
	color: #000;
	padding:40px 20px;
	font-size: 28px;

	display: inline-block;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}


#upper-footer span{
	font-size:11px;
}


#white-footer h3{
	position:relative;
	margin-bottom: 40px;
	margin-top: 10px;
	font-size:36px;
}

#lower-footer {
	background: #000;
	font-size: 10px;
	color: #444;
}


.lower-footer-widget {
	padding-left: 20px;
	padding-right: 20px;
}


.lower-footer-widget{
	color:#ddd;
}


#submit_btn.button.forward.transparent.small{
	color:#ccc;
}

.footer-social i {
	display: inline-block;
	margin-left: 10px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #555;
	color: #111;
	font-size: 10px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}

.footer-social i:hover {
	background: #111;
	color: #555;
}


#footer {
	background: #000;
}

#footer h3 {
	font-size: 36px;
	color: #fff;
	display: block;
	padding-bottom: 30px;
}


#white-footer img, #footer img {
	display: block;
}


#footer i {
	font-size: 10px;
	color: #ddd;
	display: inline-block;
	line-height: 100%;
}

.footer-widget .latest-news-list a{
	color: #fff;
	font-size:16px;
	font-family: "Montserrat";
	
}

#footer .tagcloud a{
	color: #fff;
}


#footer .tagcloud a:hover {
	color: #fff;
	background: #bc1236;
	border: 1px solid #bc1236;
}

#white-footer .footer-widget .latest-news-list a{
	color: #000;
}
.footer-widget .latest-news-list i{
	padding-right: 15px;
}

.footer-widget .latest-news-list li{
	height: auto;
}
#white-footer i{
	font-size: 10px;
	color: #444;
	display: inline-block;
	line-height: 100%;
}

#footer .footer-contact i {
	color: #fff;
}

.footer-contact i{
	font-size: 13px !important;
	display: inline-block !important;
	padding-right: 15px;
}



#footer li {
	padding-bottom: 20px;
}

#white-footer li{
	padding-bottom: 10px;
}


#white-footer .reachout li{
	padding-bottom: 20px;
}


#white-footer .widget_pages a, #white-footer .widget_nav_menu a, #white-footer .widget_categories a{
	font-size:15px;
	color: #757575;
}

#footer .widget_pages a, #footer .widget_nav_menu a, #footer .widget_categories a{
	font-size:15px;
	color: #505050;
}


#white-footer .footer-contact, #footer .footer-contact{
	  padding-bottom: 20px;
}


#white-footer .footer-contact i{

	font-size: 13px !important;
	display: inline-block !important;
	color: #fff;
	padding-right: 15px;
}

.footer-widget input, .footer-widget textarea{
	max-width:100%;
	border: none;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 0px;
	font-size: 12px;
	line-height: 14px;
	background: transparent;
  
}

#white-footer .footer-widget input, #white-footer .footer-widget textarea{
	border-bottom: 1px solid #fff;
	color:#fff;
	text-align: left;
	font-size:14px;
}
#footer .footer-widget input, #footer .footer-widget textarea{
	border-bottom: 1px solid #fff;
	color:#fff;
	text-align: left;
	font-size:14px;
}

.footer-widget textarea{
	border: 1px solid #fff;
	height: 200px;
	margin-top:40px;
	padding:20px;
}
#white-footer .footer-widget input:focus{
	border:none !important;
	outline: 0 !important;
	border-bottom: 1px solid #dc143c !important;

}
#footer .footer-widget input:focus{
	border:none !important;
	outline: 0 !important;
	border-bottom: 1px solid #dc143c !important;

}

.footer-widget textarea:focus{
	
	border: 1px solid #dc143c !important;
}

.footer-widget {
	padding: 20px;
}
.
.form-control {
	width: 100%;
}

.footer-widget .form-group{
	margin-bottom:20px;
}

.footer-widget input{
	display: block;
	width: 100%;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 0px;
	font-size: 12px;
	line-height: 14px;
	background-color: transparent;
	border: none;

}

#footer .latest-news-list a{
line-height: 1;
}
.footer-widget input[type=submit]{
  height: 30px;
  padding: 0px;
  padding-left: 12px;
  border: none;
  font-size: 10px;
  padding-right: 35px;
  line-height: 30px;
  position:relative;
    font-family: "Montserrat";
  margin: 5px;
  text-transform: uppercase;
    display: inline-block;
      transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  width:auto;
}



#white-footer .footer-widget input[type=submit]{
  background: #222;
  color: #fff;
  font-weight: 400;

}

#footer .footer-widget input[type=submit]{
    background: #transparent;
  color: #ccc;
  border: 1px solid #444;
}

#footer .footer-widget input[type=submit]:hover{
   
  border: 1px solid transparent;
}

#white-footer .footer-widget input[type=submit]:hover{
  color:#555;
  background: #f8f8f8;
}

#white-footer .form-control{
	border-bottom: 1px solid #eee;
}

#white-footer .form-control:focus{
		border-color: #fff;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-control:focus {
	border-color: #fff;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.contactbutton{
	position: relative;
	padding: 5px 25px;
	
}

.contactbutton .ajax-loader{
	display:none !important;
}
.contactbutton input{
	border:none !important;
	text-align:center !important;
	padding: 0 !important;
  font-weight: normal;
  font-size: 14px;
  color: #fff !important;
}

.contactbutton input:focus, .contactbutton input:active{
	border:0 !important;
	
}



::-webkit-input-placeholder {
	color: #ababab;
}

:-moz-placeholder {
	color: #ababab;
}

::-moz-placeholder {
	color: #ababab;
}

:-ms-input-placeholder {
	color: #ababab;
}
