/* WOO.CSS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*This is a CSS file for WooCommerce Plugin custom styling*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

h1.page-title{
	display:none;
}

.panel.entry-content h2{
	display:block;
	padding-bottom:25px !important;
}

.cart_totals h2{
	display:block;
	padding-bottom:15px !important;
}
.woocommerce-error li{
	background-image:none !important;
}
.widget_top_rated_products .amount{
	display:inline-block;
	padding-top: 10px;
}
.shipping_calculator h2 a{
	text-align:right;
	font-size: 22px;
	font-weight: bold;
	color: #000;
	display:block;
	padding-top:15px !important;
	padding-bottom:15px !important;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{
	display:inline-block;
}

.cart_totals th{
	padding-right: 20px !important;
}

#order_review_heading{
	display:block;
	padding-top:10px;
	padding-bottom:15px;
}
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, 
.woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, 
.woocommerce-page #respond input#submit, .woocommerce-page #content input.button, .single_add_to_cart_button{
	-webkit-text-stroke: 0px !important;
	display: inline-block;
	padding: 12px 20px;
	font-size: 13px !important;
	border-radius:0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	text-transform: uppercase;
	position: relative;
	color: #000; 
	text-shadow: none !important;
	border:2px solid;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit:hover, 
.woocommerce #content input.button:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, 
.woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover, .single_add_to_cart_button:hover{
	background: transparent;
	color: #000;
	border:2px solid #dc143c;
}




.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit:hover, 
.woocommerce #content input.button:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, 
.woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover, .single_add_to_cart_button:hover{
text-shadow: none  !important;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}





.woocommerce ul.products li.product a:hover img, .woocommerce-page ul.products li.product a:hover img {
box-shadow: none;
-webkit-box-shadow: none;
}

.woocommerce img {
box-shadow: none !important;
-webkit-box-shadow: none !important;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}


    
.woocommerce ul.products li.product .price ins, .woocommerce-page ul.products li.product .price ins{
	font-size: 14px;
	color: #000;
	display:inline-block;

}
.price del .amount{
	font-size: 12px;

}
.woocommerce ul.products li.product .price del, .woocommerce-page ul.products li.product .price del{
	color: #000;
	display:inline-block;
}
.woocommerce ul.products li.product .price ins, .woocommerce-page ul.products li.product .price ins, .price .amount{
	font-size: 14px;
	color:#000;
	font-weight:bold;
	
}
.woocommerce nav.woocommerce-pagination ul{
	border:none !important;
}
.woocommerce-pagination ul li{
	background: none;
	border:none !important;
}



.woocommerce-pagination li {
	display: inline-block;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	color: #000;
	margin: 2px !important;
}
.woocommerce-pagination li a, .woocommerce-pagination li span{
	display:block;
	width:100%;
	height:100%;
	padding: 10px !important;
	background: #f8f8f8;
	  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
.woocommerce-pagination li:hover a, .woocommerce-pagination .current,
.woocommerce nav.woocommerce-pagination ul li span.current{
	color: #f8f8f8 !important;
	background: #000 !important;
}



#coupon_code{
	height: 35px;
width: 150px;
}



.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	text-align:center;
}
.woocommerce ul.products li.product .star-rating, .woocommerce-page ul.products li.product .star-rating{
	display:none !important;
	
}


.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a, .woocommerce-page ul.cart_list li a, .woocommerce-page ul.product_list_widget li a{
	font-weight: normal;
}


.rating{
	display:none;
}


.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img{
	margin: 0px 0px 20px;
}



.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	position:relative;
	overflow:hidden;	
}



.woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale{
	margin:0;
	font-weight: normal;
	text-transform: uppercase;
	color:#fff;
	background: #dc143c;
}

.woocommerce ul.products li.product .layer-wrapper, .woocommerce-page ul.products li.product .layer-wrapper{
		position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	text-align: center;
	z-index: 10;
	line-height:200px;
		transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}
.woocommerce ul.products li.product .layer-wrapper:hover, .woocommerce-page ul.products li.product .layer-wrapper:hover{
	background: rgba(255,255,255, 0);
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.woocommerce ul.products li.product .add_to_cart_button, .woocommerce-page ul.products li.product .add_to_cart_button,
.woocommerce ul.products li.product .view-buttons, .woocommerce-page ul.products li.product .view-buttons{

  margin:2px;
}


.view-buttons, .portfolio-hover a{
	border:2px solid #fff !important;
}

.view-buttons:hover, .portfolio-hover a:hover{
	border:2px solid #dc143c !important;
}

.view-buttons:after, .view-buttons:before, .portfolio-hover a:after, .portfolio-hover a:before{
	border-color: #000 !important;
}

.view-buttons:hover:after, .view-buttons:hover:before, .portfolio-hover a:hover:after, .portfolio-hover a:hover:before{
	background: #fff !important;
}

.product:hover .portfolio-hover {
	display: block;
}

.layer-wrapper .added_to_cart.wc-forward{
	display:none;
}
.woocommerce span.onsale, .woocommerce-page span.onsale {
    min-height: 20px;
    min-width: 32px;
    padding: 8px;
    font-size: 11px;
    font-weight: 600 !important;
    position: absolute;
    text-align: center;
    line-height: 20px;
    top: 0px;
    left: 0px;
    margin: 0px;
    -webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
    text-shadow: none;
    color: #333;
    box-shadow: none;
   }
   
.product_title.entry-title{
	display:block;
	padding-bottom:15px !important;
}

.woocommerce .quantity, .woocommerce #content .quantity, .woocommerce-page .quantity, .woocommerce-page #content .quantity {
    margin: 0px auto;
    position: relative;
    overflow: hidden;
    width: 60px;
    height: 30px;
   }
   

.woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty {
    width: 40px;
    float: left;
    padding: 0px;
    text-align: center;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: rgba(0,0,0,0.2);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 4px 0px 0px 4px;
    box-shadow: none;
    -moz-appearance: textfield;
    font-weight: normal;
    height: 30px;
   }
   
.woocommerce .quantity .plus, .woocommerce .quantity .minus, .woocommerce #content .quantity .plus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .plus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .plus, .woocommerce-page #content .quantity .minus {
    
    text-shadow: none;
    border: 1px solid rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.1);
    background: -moz-linear-gradient(center top , #FFF 0%, #E6E6E6 0%) repeat scroll 0% 0% transparent;
    box-shadow: none;
}

.woocommerce .quantity .plus:hover, .woocommerce .quantity .minus:hover, 
.woocommerce #content .quantity .plus:hover, .woocommerce #content .quantity .minus:hover,
.woocommerce-page .quantity .plus:hover, .woocommerce-page .quantity .minus:hover, 
.woocommerce-page #content .quantity .plus:hover, .woocommerce-page #content .quantity .minus:hover {
    text-shadow: none;
    border: 1px solid rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.1);
    background: -moz-linear-gradient(center top , #FFF 0%, #E6E6E6 0%) repeat scroll 0% 0% transparent;
    box-shadow: none;
}

.woocommerce div.product form.cart .button,
.woocommerce-page div.product form.cart .button{
	float:right;
}


.woocommerce a.button.alt, .woocommerce button.button.alt, 
.woocommerce input.button.alt, .woocommerce #respond input#submit.alt, 
.woocommerce #content input.button.alt, .woocommerce-page a.button.alt, 
.woocommerce-page button.button.alt, .woocommerce-page input.button.alt, 
.woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt,
.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, 
.woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, 
.woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt {
    border: none;
    color: #fff;
    text-shadow: none;
   }

.cart{
	padding-top:20px;
}

.products h2, .producs h2{
	padding-top: 25px;
	padding-bottom: 25px;
}

.woocommerce-tabs .entry-content p,
.summary.entry-summary p{
	padding-bottom:20px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li a, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
    text-shadow: none;
    text-decoration: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after, 
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before, 
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, 
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after
 {
    right: 0;
    border-radius: 4px;
    border-width: 0px 0px 0px 0px;
    box-shadow: none;
}

.woocommerce-tabs li{
	background:none !important;
}
.woocommerce-tabs .panel{
	box-shadow:none;
	-webkit-box-shadow: none;
	background-color: transparent;
	border-radius: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
    background: -moz-linear-gradient(center top , #FFF 0%, #fff 0%) repeat scroll 0% 0% transparent;
  
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: none;
    margin: 0px !important;
    padding: 0px 1em;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text{
	border-radius: 0px;
}

#searchform #searchsubmit{
	display:none;
}
.screen-reader-text{
	display:none;
}

.total{
	padding-bottom: 20px !important;
}
#store-sidebar h3{
	padding-bottom: 20px;
	font-size: 14px;
	font-weight: 700 !important;
	line-height: 1;
}

.widget.woocommerce .reviewer{
	line-height:300%;
}
 
#store-sidebar a{
	font-size:14px;
	margin-bottom:10px;
}

#store-sidebar div ul li {
    padding: 10px 0px;
    list-style: none outside none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    }

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 15px;
    height: 15px;
   -webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
    border: none;
    cursor: pointer;
    outline: none;
    top: -0.3em;
    box-shadow: none;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
position: absolute;
z-index: 1;
font-size: .7em;
display: block;
border: 0;
box-shadow: none;
-webkit-box-shadow: none;
-webkit-border-radius: 4px;
border-radius: 4px;
}

.price_slider_amount .price_label{
	line-height:40px;
}


.widget_shopping_cart_content .empty{
	width:auto;
	height: auto;
}



.chosen{
	padding-right: 10px;
}
.widget_product_search{
	position: relative;
}

.woocommerce-product-search input[type=submit]{
	display:none;	
}


.woocommerce-product-search .search-field{
	width:100%;
	  display: block;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 10px;
  line-height: 40px;
  color: #b6b6b6;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #dcdedf;
}

.woocommerce-product-search ::-webkit-input-placeholder {
	color: #eee;
	font-size: 11px;
	text-transform: uppercase;
}


.woocommerce-product-search :-ms-input-placeholder {
	color: #eee;
}


.woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before, .woocommerce .woocommerce-message:before, .woocommerce-error:before {
content: "i";
font-family: Times,Georgia,serif;
font-style: italic;
padding-top: 0 !important;
}

.woocommerce del{
	font-size:10px !important;
}

.total strong{
	color: #000;
}
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info, .woocommerce-page .woocommerce-message{
	
background: #f8f8f8;
background: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f8f8f8));
background: -webkit-linear-gradient(#f8f8f8,#f8f8f8);
background: -moz-linear-gradient(center top,#f8f8f8 0,#f8f8f8 100%);
background: -moz-gradient(center top,#f8f8f8 0,#f8f8f8 100%);
color: #000;
text-shadow: none;
list-style: none!important;
-webkit-box-shadow: none;
box-shadow: none;
}

.widget_shopping_cart_content a, .widget_products a, 
.woocommerce ul.product_list_widget li a, .woocommerce-page ul.product_list_widget li a{
	color: #000;
	font-family: "Montserrat";
	  font-size: 12px;
  padding-bottom: 15px;
	display: block;
	font-weight:bold;
	text-transform: uppercase;
}

.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total{
	border-top: none;
	padding:10px 0 0;
}
.product_list_widget .amount{
	padding-top: 10px;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
-webkit-border-radius: 0px;
border-radius: 0px;
margin-bottom:30px;
margin-top:30px;
}



.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, 
.woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img{
	width: 80px;
	float:left;
	margin-left: 0px;
	margin-right: 10px;
}


.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    float: left;
    margin-right: 2%;
    padding: 0px;
    position: relative;
    width: 32%;
    overflow:hidden;
}

.woocommerce ul.products li.product a, .woocommerce-page ul.products li.product a {
	display:block;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	margin-bottom:0;
}

.woocommerce ul.products li.product a.button, .woocommerce-page ul.products li.product a.button{
	display:inline-block;
}

.woocommerce ul.products li.product:hover a{

	
}

.woocommerce-page ul.products li.product:hover a {


}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product{
	position:relative;
}


.woocommerce ul.products li.product:after,
.woocommerce-page ul.products li.product:after{
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	
	content:'';
		transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}

.woocommerce ul.products li.product:hover:after,
.woocommerce-page ul.products li.product:hover:after{
	background:#000;
}


.woocommerce ul.products li.product a.button, .woocommerce-page ul.products li.product a.button{
	margin-top:20px;
}

.woocommerce ul.products li.product a.button, .woocommerce-page ul.products li.product a.button{
	opacity:0;
	
}

.woocommerce ul.products li.product:hover a.button, .woocommerce-page ul.products li.product:hover a.button{
	opacity:1;
	
}


.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{

	background: none;
}

@media (max-width: 1199px) {
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
ght: 
}
}

@media (max-width: 767px) {
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	height: auto;
}
}

.woocommerce div.product .product_title,
.panel.entry-content h2,
.products h2, .producs h2,
.woocommerce #reviews #comments h2,
.cross-sells h2,
.cart_totals h2{
	font-size:20px;
}

.woocommerce .form-submit{
	display:block;
	
}

.woocommerce .form-submit input{
	padding-right:20px !important;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}
.price{
	margin:0px !important;
}
.woocommerce ul.products li.product.first, .woocommerce-page ul.products li.product.first{
	
}
.woocommerce ul.products li.product.last, .woocommerce-page ul.products li.product.last{
	margin-right:0;
}


@media only screen and (max-width: 767px) {
	
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	
	width: 100%;
	margin-right:0;
}
}

.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count{
	display:block;
	color: #000 ;
	height: 50px;
	line-height: 50px;
	left: auto;
	font-weight:bold;
    font-family: "Montserrat";
    font-size: 30px;
}


.woocommerce ul.products li.product h3{
	font-size:18px;
	font-weight:900;
}
.woocommerce-result-count{
	text-shadow: none;
}
.woocommerce-ordering select{
	display: block;
	width: 100%;
	height: 40px;
	padding-left: 20px;
	font-size: 10px;
	color: #000;
	background-color: transparent;
	border:none;
	border-bottom: 1px solid #000;
	border-radius: 0px;
	-webkit-appearance: none;
}
.woocommerce-ordering .orderby {
    background: #fff;
    border: none;
    padding: 10px;
    border-radius: 0px;
    width: 230px;
}

.woocommerce .woocommerce-ordering select, .woocommerce-page .woocommerce-ordering select{
	border-bottom: 1px solid #dcdedf;
}

.woocommerce .products ul, .woocommerce ul.products, .woocommerce-page .products ul, .woocommerce-page ul.products{
	padding-top:10px;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Default color options */
/*-------------------------------------------------------------------------------------------------------------------------------*/


.woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before{
	color: #dc143c;
}



.woocommerce span.onsale, .woocommerce-page span.onsale {

background: -moz-linear-gradient(center top , #cbcbcb 0%, #cbcbcb 0%) repeat scroll 0% 0% transparent;
 background:#f8f8f8;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
background: -moz-linear-gradient(center top , #000 0%, #cbcbcb 0%) repeat scroll 0% 0% transparent;
 background:#000;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
	background: #dc143c;
}

.woocommerce .star-rating:before{
	color: #000;
}


.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, 
.woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, 
.woocommerce-page #respond input#submit, .woocommerce-page #content input.button, .single_add_to_cart_button{
	background: transparent;
	border:2px solid;
}






a.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, 
.woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, 
.woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt{
	background: transparent;
	background: -moz-linear-gradient(center top , transparent 0%, transparent 0%) repeat scroll 0% 0% transparent;
	border:2px solid;
	color:#000;
}

.woocommerce #reviews #comment{
	height:200px;
}
a.woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, 
.woocommerce #content input.button.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover, 
.woocommerce-page #respond input#submit.alt:hover, .woocommerce-page #content input.button.alt:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, 
.woocommerce input.button:hover, .woocommerce #respond input#submit:hover, 
.woocommerce #content input.button:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, 
.woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover, .single_add_to_cart_button:hover{
	background: transparent;
	color: #000;
	border:2px solid #dc143c;
}


.products h2, .producs h2{
	color: #000;
}

.price_label, .price_label .from, .price_label .to{
	color: #000;
}

.woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info, .woocommerce .woocommerce-message, .woocommerce-error{
	border-top: 3px solid #000;
}



.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
background: #000;
background: -webkit-gradient(linear,left top,left bottom,from(#000),to(#000));
background: -webkit-linear-gradient(#000,#000);
background: -moz-linear-gradient(center top,#000 0%,#000 0%);
background: -moz-gradient(center top,#000 0%,#000 0%);
}

